*.out
*.DS_Store
*.log
*.pyc
*.jsonl
*.csv
*.pkl
*.sav
*.png
*.zip
*.tex

run_results_sep_third.tar.gz
stag_run_block.sh
stag_run_token.sh
.idea/modules.xml
.idea/TWMC.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
rf_data/training/train_test_builder.py

word_count.json
results.json

/__pycache__/
/logs
/data/**
/.vscode
/run_results/
/src/blocks
/blocks
/nicad_results
/rf_data
/rf_models
/pictures




git_access_token
