*.out
*.DS_Store
*.log
*.pyc
*.jsonl
*.csv
*.pkl
*.sav
*.png

word_count.json
results.json

__pycache__/
/data
/logs
/.vscode
run_results/
/src/blocks
/NiCad-6.2
/nicad_results
run_results_sep_third.tar.gz
stag_run_block.sh
stag_run_token.sh
